// Here you can override any of the Sass variables from Open SDG. This is the
// easiest way to change things like colors and dimensions. Below are a few
// examples of variables. For a full list, see this folder:
// https://github.com/open-sdg/open-sdg/tree/master/_sass/variables

$goal-colors: #F0F7D4 #B2D732 #66B032 #347B98 #092834 #347B98 #FCC30B #66B032 #B2D732 #F0F7D4 #B2D732 #66B032 #347B98 #092834 #347B98 #66B032 #B2D732;
$goal-banner-backgroundColors: white white white white white white white white white white white white white white white white white;
//$text-color: #333;
//$color-dark: black;
//$color-light: white;
$backgroundColor: #F5F5F5;
//$link-color: #337ab7;
//$footer-text-color: #000000;
$indicatorContent-horizontalRule-color: transparent;
$button-color: #009999;
$button-color-pressed: #009999;
$goal-banner-color: #003333;
